<%= simple_form_for(@study, html: {class: "form-signin"}) do |f| %>
  <%= f.error_notification %>

  
  <%= f.input :title, required: true, label: false, placeholder: "Title", input_html: {class: "form-control"} %>
  <%= f.input :principal_investigator, required: true, label: false, placeholder: "Principal Investigator", input_html: {class: "form-control"} %>
  <div class="checkbox text-center">
    <p>Availability</p>  
    <%= f.input :status, required: false, label:false %>
  </div> 

 
  
  <div class="field">
  
    <%= select_tag 'studysite[]', options_from_collection_for_select(@sites,    "name", "location",{:selected=>@selectedsite}),:class => 'form-control', :multiple => true %>

 </div>  

  <br>
  <br> 

  <%= f.submit "Save", class: "btn btn-primary btn-block" %>
  
<% end %>