<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @study.title %>
</p>

<p>
  <strong>Principal investigator:</strong>
  <%= @study.principal_investigator %>
</p>

<p>
  <strong>Status:</strong>
  <%= @study.status %>
</p>

<%= link_to 'Edit', edit_study_path(@study) %> |
<%= link_to 'Back', studies_path %>
