
<div>
    <% Study.all.each do |study| %>
      <h3>
        <%= study.principal_investigator %> - 
        <%= study.title %>
      </h3>
      <% Site.joins(:studysites).where('"studysites"."study_id"=?',study.id).each do |site|%>
      <h4>
        <%= site.name %> - <%= site.location %>
      </h4>
      <% Participant.joins(:participantstudysites).where('"participantstudysites"."study_id"=?',study.id).each do |participant| %>
        <table class="table table-striped table-bordered">    
          <thead>
            <tr>
              <th>PARTICIPANT NAME</th>
              <th>GENDER</th>
              <th>DOB</th>
              <th>ADDRESS</th>
            </tr>
          </thead>

          <tbody>

              <tr>
              <td><%= participant.partname %></td>
                <td><%= participant.gender %></td>
                <td><%= participant.dob %></td>
                <td><%= participant.address %></td>
                <tr>
            </tbody>
        </table>
      <%end%>
    <%end%>
  <% end %>
 
</div>
